@keyframes animation1
{
    from {top: 0px; background-color: green;}
    to {top: 150px; background-color: yellow;}
    to {top: 300px; background-color: red;}
}

.animation1
{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: animation1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes animation2
{
    from {bottom: 0px; background-color: green;}
    to {bottom: 150px; background-color: yellow;}
    to {bottom: 300px; background-color: red;}
}

.animation2
{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: animation2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}