@keyframes animation1
{
    from {top: 0px; background-color: green;}
    to {top: 150px; background-color: yellow;}
    to {top: 300px; background-color: red;}
}

.animation1
{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: animation1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition: width 2s, height 1s;
}

@keyframes animation2
{
    from {bottom: 0px; background-color: green;}
    to {bottom: 150px; background-color: yellow;}
    to {bottom: 300px; background-color: red;}
}

.animation2
{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: animation2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition: width 4s, height 3s;
}

@keyframes animation3
{
    from {left: 0px; background-color: green;}
    to {right: 200px; background-color: yellow;}
    to {right: 300px; background-color:red;}
}

.animation3
{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: animation3;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: both;
    transition: width 2s, height 6s;
}

div:hover
{
    width:250px;
    height: 250px;
}